*{
    padding: 0;
    margin: 0;
    text-indent: 0;
    width: 100%;
    
}

.my-box{
    width: 100%;
    height: auto;
    background-color:lightgray;
    color: black;
}

.header-elements{
    align-items: center;
    text-align: center;
    
}
h2,h3,h4{
    margin-bottom: 2rem; 
}



h3,h4{
   margin-top: 2rem; 
}



h1{
    background-color: white;
    font-family: poppins, sans-serif;
   
}


a:hover{
    color: red
}

.short-note{
    margin-top: 2rem;
    font-family: poppins, sans-serif;
}

.image{
    max-width: 25%;
    margin-left: 35%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}


.about-him{
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: poppins, sans-serif;
    text-indent: 0%;
    margin: 0;
    padding: 0;
    font-size: 19px;
    line-height: normal;
    display: block;
    
}

.his-objectives{
    margin-bottom: 2rem;
    text-align: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: poppins, sans-serif;
    text-indent: 0%;
    margin: 0;
    padding: 0;
    font-size: 19px;
    
}

.His-achievements{
    margin-bottom: 2rem;
    text-align: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: poppins, sans-serif;
    text-indent: 0%;
    margin: 0;
    padding: 0;
    font-size: 19px;
    

}