*{
    padding: 0px;
    margin-top: 2rem;
    width: 100%;
    
}

.header-elements{
    align-items: center;
    text-align: center;
    
}

.name{
    background-color: lightgray;
   
}

.image{
    max-width: 25%;
    margin-left: 35%;
}

.about-him{
    text-align: center;
    width: 95%;
    margin-left: 5px;
    
}